<p-menubar>
    <div class="menu-header">
        <i class="pi pi-wallet menu-icon"></i>
        <h1 class="menu-titulo">Conversor Monetário</h1>
    </div>

    <div class="menu-buttons">
        <button pButton type="button" label="Inicio" routerLink=""></button>
        <button pButton type="button" label="Listar Moedas" icon="pi pi-list" routerLink="/lista"></button>
        <button pButton type="button" label="Converter Moedas" routerLink="/conversao"></button>
        <button pButton type="button" label="Histórico de Conversão" routerLink="/historico"></button>
    </div>
</p-menubar>

<router-outlet></router-outlet>