.p-menubar {
    flex-direction: column;
}

.menu-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu-icon {
    font-size: 1.5rem;
    color: #007ad9;
}

.menu-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
}

.menu-buttons {
    display: flex;
}

.menu-buttons button {
    margin-left: 10px;
}

.active {
    background-color: #007ad9 !important;
    color: white !important;
  }